[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
build = "python ./setup.py py2app"
clean = "rm -rf dist build"

[dev-packages]

[packages]
pyobjc-framework-cocoa = "*"
psutil = "*"
pillow = "*"
py2app = "*"
macholib = "*"

[requires]
python_version = "3.7"
